
  
/* page- header */
.pageHeader {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 60px;
  background-image: linear-gradient(30deg, #44a7fd, #107fc0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
  z-index: 9995;
 
}

.pageHeader .container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  max-width: 1200px; 
  margin: 0 auto; 

}

.pageHeader .navbar-brand {
  padding-top: 25px;
  margin-left: 1200px; 
  color: rgb(255, 255, 255);
  font-size: 20px;
}

/* end of page header */ 


  .container {
    
    margin: 150px 250px;
    max-width: 1500px;
    
  
    
  }
  
  h1 {
    text-align: center;
    font-size: 28px;
    color: #1884a5;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

* {
  box-sizing: border-box;
}

.page-contain {
    margin-top: 30px;
  display: flex;
  /* min-height: 40vh; */
  /* align-items: center; */
  justify-content: center;
  background: #E7F3F1;
  border: .75em solid white;
  padding: 2em;
  font-family: 'Open Sans', sans-serif;
}

.data-card {
  display: flex;
  flex-direction: column;
  max-width: 18.75em;
  min-height: 15.75em;
  overflow: hidden;
  border-radius: .5em;
  text-decoration: none;
  background: white;
  margin: 1em;
  margin-left: 3em;
  padding: 1.75em 1.5em;
  box-shadow: 0 1.5em 2.5em -.5em rgba(0, 0, 0, .1);
  transition: transform .45s ease, background .45s ease;
}

.data-card h3 {
  color: #2E3C40;
  font-size: 2.5em;
  font-weight: 600;
  line-height: 1;
  padding-bottom: .5em;
  margin: 0 0 0.142857143em;
  border-bottom: 2px solid #367dce;
  transition: color .45s ease, border .45s ease;
}

.data-card h4 {
  color: #627084;
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  margin: 0 0 1.777777778em;
  transition: color .45s ease;
}

.data-card p {
  opacity: 0;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 1.8;
  margin: 0 0 1.25em;
  transform: translateY(-1em);
  transition: opacity .45s ease, transform .5s ease;
}

.data-card .link-text {
  display: block;
  color: #367dce;;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.2;
  margin: auto 0 0;
  transition: color .45s ease;
}

.data-card .link-text svg {
  margin-left: .5em;
  transition: transform .6s ease;
}

.data-card .link-text svg path {
  transition: fill .45s ease;
}

.data-card:hover {
  background: #367dce;;
  transform: scale(1.02);
}

.data-card:hover h3 {
  color: #FFFFFF;
  border-bottom-color: #367dce;;
}

.data-card:hover h4 {
  color: #FFFFFF;
}

.data-card:hover p {
  opacity: 1;
  transform: none;
}

.data-card:hover .link-text {
  color: #FFFFFF;
}

.data-card:hover .link-text svg {
  animation: point 1.25s infinite alternate;
}

.data-card:hover .link-text svg path {
  fill: #FFFFFF;
}

@keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(.125em);
  }
}


    /* image  */

    .img-bottom{
      width: 1000px;
      height: 400px;
      position: relative;
      /* margin-bottom: 50px; */
      top: -80px;
      left: 260px;
      z-index:-10;
    }