/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Custom Toastr styles */
.toast-success {
    background-color: #51a351 !important;
    top: 20px;
    left: 80%;
    height: fit-content;
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    color: beige;
    position: relative;
  }
  .toast-error {
    background-color: #e50e03 !important;
    top: 20px;
    left: 0px;
    height: fit-content;
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    color: beige;
    position: relative;
  }
  .toast-info {
    background-color: #2f96b4 !important;
    top: 20px;
    left: 0px;
    height: fit-content;
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    color: beige;
    position: relative;
  }
  .toast-warning {
    background-color: #f89406 !important;
    top: 20px;
    left: 0px;
    height: fit-content;
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    color: beige;
    position: relative;
  }
  